# IDE specific templates
.idea/
*.iml
.vs/

## macOS template
*.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# SublimeText project files
*.sublime-*

## vim related
*.swp
*.swo

## File dependencies
node_modules/
*.log

## Source Files
src/**/**.css*

## Deployment
dist/
*.zip