/**
 * Place your custom CSS styles here.
 **/
*, *:before, *:after {
    box-sizing: border-box;
}

.meme-box-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    bottom: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.62);
}

#meme-wrapper {
    border: 1px solid #000000;
    padding: 5px;
    position: relative;
    text-align: center;
}

.meme {
    position: fixed;
    box-shadow: 0 0 0 5px red;
    z-index: 1001;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-size: 100%;
    background-color: #fff;
}

.meme-text {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    resize: none;
    overflow: hidden;
    padding: 0 5px;
    font-family: Impact !important;
    line-height: 1.2;
    text-transform: uppercase;
    color: white;
    background: transparent;
    outline: 0;
    border: none;
    letter-spacing: 0.025em;
    text-shadow: 2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    0px 2px 0 #000,
    2px 0px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 2px 5px #000;
}

.meme-text.selected {
    background: rgba(0, 0, 0, 0.35);
}

.meme-text[data-type=bottom] {
    bottom: 5px;
}

.meme-text[data-type=top] {
    top: 5px;
}

.meme-text[data-pos=left] {
    text-align: left;
}

.meme-text[data-pos=right] {
    text-align: right;
}

.meme-text[data-pos=center] {
    text-align: center;
}

.meme-text[data-size=xsmall] {
    font-size: 20px;
}

.meme-text[data-size=small] {
    font-size: 30px;
}

.meme-text[data-size=medium] {
    font-size: 40px;
}

.meme-text[data-size=large] {
    font-size: 50px;
}

.meme-text[data-size=xlarge] {
    font-size: 60px;
}

#meme-options {
    position: absolute;
    width: 280px;
    text-align: center;
    margin: 10px 0;
    padding: 5px 0;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    display: none;
}

#meme-options:before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

#meme-options[type='top']:before {
    top: -10px;
    border-bottom: 10px solid #fff;
}

#meme-options[type='bottom']:before {
    bottom: -10px;
    border-top: 10px solid #fff;
}

.btn {
    display: inline-block;
    margin: 0 2px;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    width: 26px;
    height: 26px;
    line-height: 26px;
}

.btn:hover {
    background: rgba(0, 0, 0, 0.15);
}

.btn.selected {
    background: rgba(0, 0, 0, 0.3);
}

.cancel-meme, .download-meme, .refresh-meme {
    position: absolute;
    right: -25px;
    top: 5px;
    padding: 5px;
    background: red;
    text-align: center;
    cursor: pointer;
}

.download-meme {
    top: 35px;
}

.refresh-meme {
    top: 65px;
}

.cancel-meme svg, .download-meme svg, .refresh-meme svg {
    width: 12px;
    height: 12px;
    fill: rgba(255, 255, 255, 0.85);
}

.cancel-meme:hover svg, .download-meme:hover svg, .refresh-meme:hover svg {
    fill: rgba(255, 255, 255, 1);
}