/**
 * Injected CSS for memefy
 **/
._memefy_meme-box-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
}

._memefy_meme-box {
    position: fixed;
    box-shadow: 0 0 0 5px red;
    z-index: 1001;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-size: 100%;
    background-color: #fff;
    box-sizing: border-box;
}

._memefy_meme-box *, ._memefy_meme-box *:before, ._memefy_meme-box *:after {
    box-sizing: border-box;
}

._memefy_meme-box > *:not([class^="_memefy_"]):not([id^="_memefy_"]){
    display: none;
}

._memefy_meme-text {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    resize: none !important;
    overflow: hidden !important;
    padding: 0 5px;
    font-family: Impact !important;
    line-height: 1.2 !important;
    text-transform: uppercase !important;
    color: white;
    background: transparent;
    outline: 0;
    border: none;
    letter-spacing: 0.025em;
    text-shadow: 2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    0px 2px 0 #000,
    2px 0px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 2px 5px #000;
}

._memefy_meme-text.selected {
    background: rgba(0, 0, 0, 0.35) !important;
}

._memefy_meme-text[data-type=bottom] {
    bottom: 5px;
}

._memefy_meme-text[data-type=top] {
    top: 5px;
}

._memefy_meme-text[data-pos=left] {
    text-align: left !important;
}

._memefy_meme-text[data-pos=right] {
    text-align: right !important;
}

._memefy_meme-text[data-pos=center] {
    text-align: center !important;
}

._memefy_meme-text[data-size=xsmall] {
    font-size: 20px !important;
}

._memefy_meme-text[data-size=small] {
    font-size: 30px !important;
}

._memefy_meme-text[data-size=medium] {
    font-size: 40px !important;
}

._memefy_meme-text[data-size=large] {
    font-size: 50px !important;
}

._memefy_meme-text[data-size=xlarge] {
    font-size: 60px !important;
}

#_memefy_meme-text-options {
    position: absolute;
    width: 230px;
    text-align: center;
    margin: 10px 0;
    padding: 5px 0;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    background: #666;
    border-radius: 4px;
}

#_memefy_meme-text-options:before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

#_memefy_meme-text-options[type='top']:before {
    top: -10px;
    border-bottom: 10px solid #666;
}

#_memefy_meme-text-options[type='bottom']:before {
    bottom: -10px;
    border-top: 10px solid #666;
}

._memefy_btn {
    display: inline-block;
    margin: 0 2px;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    width: 24px;
    height: 24px;
    line-height: 24px;
    padding: 2px;
}

._memefy_btn svg {
    width: 20px;
    height: 20px;
    stroke: rgba(255, 255, 255, 0.5);
    fill: rgba(255, 255, 255, 0.5);
    stroke-width: 3px;
}

._memefy_btn[data-size] svg {
    stroke-width: 0;
    letter-spacing: 1px;
}

._memefy_btn:hover svg, ._memefy_btn.selected svg {
    stroke: rgba(255, 255, 255, 1);
    fill: rgba(255, 255, 255, 1);
}

#_memefy_meme-box-options {
    position: absolute;
    right: -25px;
    top: 50%;
    list-style: none;
    margin: 0;
    padding: 0;
    transform: translateY(-50%);
}

#_memefy_meme-box-options li {
    display: flex;
    padding: 6px;
    background: red;
    text-align: center;
    cursor: pointer;
    margin: 5px 0;
    height: 22px;
    width: 22px;
}

#_memefy_meme-box-options li svg {
    width: 10px !important;
    height: 10px !important;
    fill: rgba(255, 255, 255, 0.85);
}

#_memefy_meme-box-options li:hover svg {
    fill: rgba(255, 255, 255, 1);
}