body {
    font-family: Helvetica, Ubuntu, Arial, sans-serif;
}

*, *:before, *:after {
    box-sizing: border-box;
}

#meme-wrapper {
    border: 1px solid #000000;
    padding: 5px;
}

.meme {
    width: 450px;
    height: 450px;
    background-color: #efefef;
    background-image: url('http://vignette1.wikia.nocookie.net/meme/images/7/71/BusinessCat2.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.meme-text {
    position: absolute;
    left: 0;
    right: 0;
    margin: 5px 0;
    width: 100%;
    resize: none;
    overflow: hidden;
    padding: 0 5px;
    font-family: Impact;
    line-height: 1.2;
    text-transform: uppercase;
    color: white;
    background: transparent;
    outline: 0;
    border: none;
    letter-spacing: 0.025em;
    text-shadow:2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    0px 2px 0 #000,
    2px 0px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 2px 5px #000;
}

.meme-text--bottom {
    bottom: 0;
}

.meme-text--top {
    top: 0;
}

.meme-text[data-pos=left] {
    text-align: left;
}

.meme-text[data-pos=right] {
    text-align: right;
}

.meme-text[data-pos=center] {
    text-align: center;
}

.meme-text[data-size=xsmall] {
    font-size: 20px;
}

.meme-text[data-size=small] {
    font-size: 30px;
}

.meme-text[data-size=medium] {
    font-size: 40px;
}

.meme-text[data-size=large] {
    font-size: 50px;
}

.meme-text[data-size=xlarge] {
    font-size: 60px;
}

#meme-options {
    text-align: center;
    margin: 10px 0;
}

.btn {
    display: inline-block;
    padding: 5px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
}

.btn:hover {
    background: rgba(0, 0, 0, 0.35);
}