@import 'colors';

/**
 * Injected CSS for Memefy-This
 **/

 ._memefy_body {
	position: relative;
	overflow-y: hidden;
	height: 100vh;
}

._memefy_warning-box {
	z-index: 1000;
	position: fixed;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	background: #fee98e;
	color: #b89a50;
	padding: 10px;
	border: 2px solid #eecf49;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	visibility: hidden;
}

._memefy_close-warning-box {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 18px;
	width: 18px;
	margin-left: 10px;
	cursor: pointer;
	border-radius: 50%;
	color: #fee98e;
	background: #b89a50;

	&:hover {
		color: #f2e6ca;
		background: #ccbc75;
	}
}

._memefy_meme-box-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	z-index: 1000;
	background: rgba($color-black, 0.8);
	box-sizing: border-box;
}

._memefy_meme-box {
	position: fixed;
	border-radius: 6px;
    box-shadow: 0 0 0 2px $color-black, 0 0 0 8px $color-white, 0 0 0 10px $color-black;
	z-index: 1001;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-size: 100%;
	background-color: $color-white;
	box-sizing: border-box;

	*, *:before, *:after {
		box-sizing: border-box;
	}

	> *:not([class^="_memefy_"]):not([id^="_memefy_"]) {
		display: none;
	}
}

._memefy_meme-text {
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	resize: none !important;
	overflow: hidden !important;
	padding: 0 5px;
	font-family: Impact !important;
	line-height: 1.2 !important;
	text-transform: uppercase !important;
	color: $color-white !important;
	background: transparent;
	outline: 0 !important;
	border: none !important;
	letter-spacing: 0.025em !important;
	text-shadow: 2px 2px 0 $color-black, -2px -2px 0 $color-black, 2px -2px 0 $color-black, -2px 2px 0 $color-black, 0 2px 0 $color-black, 2px 0 0 $color-black, 0 -2px 0 $color-black, -2px 0 0 $color-black, 2px 2px 5px $color-black !important;
	
	&.selected {
		background: rgba($color-black, 0.35) !important;
	}

	&[data-type=bottom] {
		bottom: 5px;
	}

	&[data-type=top] {
		top: 5px;
	}

	&[data-pos=left] {
		text-align: left !important;
	}

	&[data-pos=right] {
		text-align: right !important;
	}

	&[data-pos=center] {
		text-align: center !important;
	}

	&[data-size=xsmall] {
		font-size: 20px !important;
	}

	&[data-size=small] {
		font-size: 30px !important;
	}

	&[data-size=medium] {
		font-size: 40px !important;
	}

	&[data-size=large] {
		font-size: 50px !important;
	}

	&[data-size=xlarge] {
		font-size: 60px !important;
	}
}

#_memefy_meme-text-options {
	position: absolute;
	width: 250px;
	height: 30px;
	margin: 10px 0;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	opacity: 0;
	visibility: hidden;
	background: $color-gray;
	border-radius: 4px;

	&::before {
		content: '';
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
	}

	&[type='top']::before {
		top: -9px;
		border-bottom: 10px solid $color-gray;
	}

	&[type='bottom']::before {
		bottom: -9px;
		border-top: 10px solid $color-gray;
	}
}

._memefy_btn {
	display: inline-flex;
	cursor: pointer;

	svg {
		width: 20px;
		height: 20px;
		stroke: rgba($color-white, 0.5);
		fill: rgba($color-white, 0.5);
		stroke-width: 3px;
	}

	&[data-size] svg {
		stroke-width: 0;
		letter-spacing: 1px;
	}

	&:hover, &.selected {
		svg {
			stroke: rgba($color-white, 1);
			fill: rgba($color-white, 1);
		}
	}
} 

#_memefy_meme-box-options {
	position: absolute;
	right: -35px;
	top: 50%;
	list-style: none;
	margin: 0;
	padding: 0;
	transform: translateY(-50%);

	li {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 6px;
		background: $color-white;
		cursor: pointer;
		margin: 8px 0;
		height: 20px;
		width: 20px;
		border-radius: 4px;
		box-shadow: 0 0 0 2px $color-black;

		svg {
			width: 10px !important;
			height: 10px !important;
			fill: rgba($color-black, 0.6);
		}

		&:hover, &:focus {
			svg {
				fill: rgba($color-black, 1);
			}
		}
	}
}